*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

img{
    height: 300px;
}

.row{
    width: 100%;
    overflow: hidden;
}

[class*="col-"]{
    float: left;
}


/*DIZAJN ZA MOBILNE TELEFONE*/

@media only screen and (max-width: 600px){
    [class*="col-"]{
        width: 100%;
        text-align: center;
    }
}

/*DIZAJN ZA TABLETE*/
/*
@media only screen and (min-width: 426px) and (max-width: 768px){
    .col-t-1{
        width: 8.33%;
    }
    .col-t-2{
        width: 16.66%;
    }
    .col-t-3{
        width: 25%;
    }
    .col-t-4{
        width: 33.33%;
    }
    .col-t-5{
        width: 41.66%;
    }
    .col-t-6{
        width: 50%;
    }
    .col-t-7{
        width: 58.33;
    }
    .col-t-8{
        width: 66.66%;
    }
    .col-t-9{
        width: 75%;
    }
    .col-t-10{
        width: 83.33%;
    }
    .col-t-11{
        width: 91.66%;
    }
    .col-t-12{
        width: 100%;
    }
}
*/

/*DIZAJN ZA DESKTOP UREDJAJE*/

@media only screen and (min-width: 601px){
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }
    nav ul li{
        text-align: left;
        width: 100%;
    }
    
}

nav{
    position: relative;
    top: 0px;
    width: 100%;
}

nav ul{
    overflow: hidden;
    background-color: rgb(95, 202, 202);
}
/*  PREBACIVAO SAM DA VIDIM DA LI MOGU ODVOJENE KOMANDE ZA ZASEBAN QUERY DA RADE... I RADE
nav ul li{
    text-align: center;
    width: 100%;
}
*/

.border{
    border-top: 2px solid cyan;
    border-bottom: 2px solid cyan;
}

nav ul li a{
    
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 100%;
    color: black;
    font-weight: bolder;
}

nav ul li a:hover{
    background-color: darkcyan;
}

header{
    padding: 5px;
    text-align: center;
    background-color: #00ffff;
}

aside{
    background: rgb(0,255,255);
    background: linear-gradient(180deg, rgba(0,255,255,1) 0%, rgba(255,255,255,1) 100%); 
}

aside p{
    padding: 10px;
    font-size: 20px;
    text-align: left;
    height: 56px;
}

article h3{
    padding: 10px;
    text-align: left;
    background-color: cyan;
}

article p{
    padding: 10px;
    font-size: 20px;
    text-align: left;
    background: rgb(0,255,255);
    background: linear-gradient(180deg, rgba(0,255,255,1) 0%, rgba(255,255,255,1) 100%); 
    height: 130px;
    font-style: italic;
}

footer{
    padding: 5px;
    text-align: center;
    background-color: cyan;
}